@import "tailwindcss";

@plugin "daisyui";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.chat {
  animation-duration: 0.2s !important;
}

.chat-system {
  @apply flex items-center justify-center;
}

.animate__fadeInLeft {
  animation-duration: 0.2s !important;
}

.animate__fadeIn {
  animation-duration: 0.2s !important;
}

.no-carot::before {
  display: none !important;
  content: '' !important;
  opacity: 0 !important;
  background-color: transparent !important;
  width: 0 !important;
  height: 0 !important;
  mask-image: none !important;
}

.chat-bubble:before {
  width: .5rem;
}
